{% extends "event/base.html" %}
{% block content %}

<div class="content-section">
    <fieldset class="form-group">
    <legend class="border-bottom mb-4">Update Event</legend>

<form action="/event_view/{{obj.id}}/updated" method="POST">
    {%csrf_token%}
    Organizer:<input type="text" name="organizer" placeholder="User namae of Organizer" class="textinput textInput form-control" value="{{obj.organizer}}"
        required><br />
    Title :<input type="text" name="event_title" placeholder="Title" class="textinput textInput form-control" value="{{obj.title}}" required><br />
    Description :<input type="text" class="textinput textInput form-control" name="description" placeholder="Description" value="{{obj.description}}"
        required><br />
    Venue :<input type="text" class="textinput textInput form-control" name="venue" placeholder="venue" value="{{obj.venue}}" required><br />
    Category :<input type="text" class="textinput textInput form-control" name="Category" placeholder="Category" value="{{obj.Category}}" required><br />
    Starting date :<input type="datetime-local" class="textinput textInput form-control" id="startingdate" name="starting_date" placeholder="starting date"
        value="{{obj.StartingDate}}" required><br />
    Ending date<input type="datetime-local" class="textinput textInput form-control" id="endingdate" name="ending_date" placeholder="starting date"
        value="{{obj.Endingdate}}" required><br />
    Duration :<input type="time" name="duration" class="textinput textInput form-control" value="{{obj.Eventtime}}" required><br />
    Joiningfees :<input type="number" class="textinput textInput form-control" name="fee" value="{{obj.joiningfees}}" required><br />
    Price-money :<input type="number"class="textinput textInput form-control" name="price" value="{{obj.pricemoney}}" required><br />
    Number of members per team :<input type="number" class="textinput textInput form-control" name="numberofparticipants" placeholder="number of participants"
        value="{{obj.members}}" required><br />
    Registration link :<input type="url" name="link" class="textinput textInput form-control" placeholder="Add Link" value="{{obj.link}}" required><br />
    Number of Seats :<input type="number" class="textinput textInput form-control" name="numberofseats" placeholder="Total seats" value="{{obj.numberofseats}}"
        required><br />
    <br />
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit" name="Update">Update</button>
    </div>

</form>
<script>
    document.getElementById("startingdate").defaultValue = "{{ obj.StartingDate }}";
    document.getElementById("endingdate").defaultValue = "{{ obj.Endingdate }}";
</script>
{% endblock content %}