{% extends "event/base.html" %}
{% block content %}
<a href="/event_view/add">ADD Event</a><br />

<br />
<br />
<table class="table table-striped">
  <thead class="thead-success">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Stating Date</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for events in obj %}
    <tr>
      <th scope="row"><a href="/event_user/{{events.id}}">{{events.id}}</a></th>
      <td><a href="/event_user/{{events.id}}">{{events.title}}</a></td>
      <td>{{events.Category}}</td>
      <td>{{events.StartingDate|date:"F d,Y"}}</td>
      <td>
        <form action="/event_view/{{events.id}}/update" method="POST">
          {%csrf_token%}
          <input type="submit" class="btn btn-success" name="Update" value="Update">
        </form>
      </td>
      <td>
        <form action="/event_view/{{events.id}}/delete" method="POST">
          {%csrf_token%}
          <input type="submit" class="btn btn-danger" name="Delete" value="delete">
        </form>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock content %}